<% include header %>

  <h2>방명록 글 쓰기</h2>

  <form method="post" role="form">
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="제목입력" required>
    </div>
    <div class="form-group">
      <label for="body">내용 입력</label>
      <textarea class="form-control" id="body" name="body" placeholder="팬 카페에 오신 것을 환영합니다" rows="3" required></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="글 입력" class="btn btn-primary">
    </div>
  </form>

  <% include footer %>